root_passwd="root123."
public_network='192.168.0.0/16'
cluster_network='192.168.0.0/16'

# 存储集群IP段
ip_segment="192.168.31"
# 存储集群主机名
hostname="ceph"
# 存储节点IP池
hostip=(
192.168.31.204
192.168.31.193
)


# 计算节点集群IP段
compute_ip_segment="192.168.33"
# 计算节点主机名
compute_hostname="node"
# 计算节点IP池
compute_hostip=(
192.168.33.33
)

# 日志盘大小M
journal_size="4096"
# 部署几个监控节点
monitor_number=2
# osd资源池名称
osd_pool_name="one"
osd_pool_size="256"


